{% from '::flash.html.twig' import session_flash %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <title>{% block title %} {{ 'brand.name'|trans }} {% block sub_title %}{% endblock %} {% endblock %}</title>
    {% stylesheets filter='cssrewrite,?yui_css'
   'bundles/fightmasterbootstrap/css/bootstrap.css'
   'bundles/fightmasterbootstrap/css/bootstrap-responsive.css'
   '@CraueFormFlowBundle/Resources/assets/css/buttons.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />{% endblock %}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
<body>
{% block body %}
{% block topbar %}{% include '::topbar.html.twig' %}{% endblock %}
{% block topbanner %}{% include '::topbanner.html.twig' %}{% endblock %}
{% block container %}
<div class="container-fluid">
    <div class="row-fluid" id="main-container">
        <div class="span12">
            <div class="row-fluid">
                {% block sidebar %}
                <div class="span2 page-sidebar-left" id="page-sidebar">
                    {% block leftMenu %}
                    {% include '::navbar.html.twig' %}
                    {% endblock %}
                </div>
                {% endblock %}
                {% block centerBar %}
                <div class="span7 page-content" id="page-content">
                    <div id="main_column">
                        {% block flashes %}
                        {% if app.session.flashbag.peekAll|length > 0 %}
                        <div class="row-fluid">
                            <div class="span7">
                                {{ session_flash() }}
                            </div>
                        </div>
                        {% endif %}
                        {% endblock flashes %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% endblock %}
                {% block sidebar_right %}
                <div class="span3 page-sidebar-right">right
                </div>
                {% endblock %}

                <footer>
                    {% block footer %}
                    <p>&copy; <a href="http://github.com/fightmaster" target="_blank">fightmaster</a> 2012</p>
                    {% endblock footer %}
                </footer>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block foot_script %}
{% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-transition.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-modal.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-dropdown.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-scrollspy.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-tab.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-tooltip.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-popover.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-alert.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-button.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-collapse.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-carousel.js'
        '@FightmasterBootstrapBundle/Resources/public/js/bootstrap-typeahead.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}
{% block javascripts %}{% endblock %}
{#{% include '::counters.html.twig' %}#}
</body>
</html>

