{% extends 'FightmasterTournamentsDashboardBundle::base.html.twig' %}
{% block fightmaster_tournaments_dashboard_content %}
<h1>Tournament edit</h1>


<div>
    Steps:
    {% include ':Form:formflow_stepList.html.twig' %}
</div>
<form action="{{ path('tournament_update', { 'id': tournament.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

    {{ form_errors(edit_form) }}

    {% if flow.getCurrentStep() == 2 %}
    {% endif %}

    {{ form_rest(edit_form) }}

    {% include ':Form:formflow_buttons.html.twig' %}
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tournament') }}">
            {{'fightmaster.tournaments_dashboard_bundle.buttons.back' | trans}}
        </a>
    </li>
    <li>
        <form action="{{ path('tournament_delete', { 'id': tournament.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{'fightmaster.tournaments_dashboard_bundle.buttons.delete' | trans}}</button>
        </form>
    </li>
</ul>
{% endblock fightmaster_tournaments_dashboard_content %}


{% block project_script %}
<script type="text/javascript">
    // Get the div that holds the collection of stages
    var groupCollectionHolder = $('div#fightmaster_bundle_tournamentsdashboardbundle_flow_tournamenttype_groupStages');
    var playoffCollectionHolder = $('div#fightmaster_bundle_tournamentsdashboardbundle_flow_tournamenttype_playoffStages');
    // setup an "add a tag" link
    var addGroupStage = $('<a href="#" class="add_stage_link">{{'fightmaster.tournaments_dashboard_bundle.buttons.add.stage.group' | trans}}</a>');
    var newLinkGroupStage = $('<div></div>').append(addGroupStage);
    var addPlayoffStage = $('<a href="#" class="add_stage_link">{{'fightmaster.tournaments_dashboard_bundle.buttons.add.stage.playoff' | trans}}</a>');
    var newLinkPlayoffStage = $('<div></div>').append(addPlayoffStage);

    jQuery(document).ready(function() {
// add the "add a tag" anchor and li to the tags ul
        groupCollectionHolder.append(newLinkGroupStage);
        playoffCollectionHolder.append(newLinkPlayoffStage);

        addGroupStage.on('click', function(e) {
// prevent the link from creating a "#" on the URL
            e.preventDefault();
// add a new tag form (see next code block)
            addStageForm(groupCollectionHolder, newLinkGroupStage, 'group');
        });

        addPlayoffStage.on('click', function(e) {
// prevent the link from creating a "#" on the URL
            e.preventDefault();
// add a new tag form (see next code block)
            addStageForm(playoffCollectionHolder, newLinkPlayoffStage, 'playoff');
        });
        function addStageForm(collectionHolder, link, type) {
            var idStage = collectionHolder.children().length;
            // Get the data-prototype we explained earlier
            var prototype = collectionHolder.attr('data-prototype');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, idStage);

            link.before('<div id ="' + type + '_' + idStage + '">' + newForm + '<div class="link icon-remove"/></div>');

            $('div#' + type + '_' + idStage + '>div.icon-remove').on('click', function(e) {
                e.preventDefault();
                removeStageForm(type, idStage);
            });
        }
        function removeStageForm(type, idStage) {
            $('div#' + type + '_' + idStage).remove();
        }
    });
</script>
{% endblock project_script%}
