{% extends 'FightmasterTournamentsDashboardBundle::base.html.twig' %}
{% block fightmaster_tournaments_dashboard_content %}
<h1>Tournament list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.name' | trans}}</th>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.limit_of_members' | trans}}</th>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.donation' | trans}}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.name }}</a></td>
            <td>{{ tournament.limitOfMembers }}</td>
            <td>{{ tournament.donation }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{'fightmaster.tournaments_dashboard_bundle.buttons.show' | trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}">{{'fightmaster.tournaments_dashboard_bundle.buttons.edit' | trans}}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('tournament_new') }}">
            {{'fightmaster.tournaments_dashboard_bundle.buttons.create' | trans}}
        </a>
    </li>
</ul>
{% endblock fightmaster_tournaments_dashboard_content %}
