{% extends 'FightmasterTournamentsDashboardBundle::base.html.twig' %}
{% block fightmaster_tournaments_dashboard_content %}
<h1>Tournament</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.name' | trans}}</th>
            <td>{{ tournament.name }}</td>
        </tr>
        <tr>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.limit_of_members' | trans}}</th>
            <td>{{ tournament.limitOfMembers }}</td>
        </tr>
        <tr>
            <th>{{'fightmaster.tournaments_dashboard_bundle.tournament.donation' | trans}}</th>
            <td>{{ tournament.donation }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tournament') }}">
            {{'fightmaster.tournaments_dashboard_bundle.buttons.back' | trans}}
        </a>
    </li>
    <li>
        <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}">
            {{'fightmaster.tournaments_dashboard_bundle.buttons.edit' | trans}}
        </a>
    </li>
    <li>
        <form action="{{ path('tournament_delete', { 'id': tournament.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{'fightmaster.tournaments_dashboard_bundle.buttons.delete' | trans}}</button>
        </form>
    </li>
</ul>
{% endblock fightmaster_tournaments_dashboard_content %}
